################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Bloomora-DotNet/.vs/Bloomora-DotNet
